.page--basic-question {
  grid-template-rows: min-content 1fr min-content;

  .card-title {
    @include media-breakpoint-up(sm) {
      line-height: 150%;
    }
  }

  .page__card {
    grid-template-rows: min-content min-content 1fr min-content;
  }

  .page__card > .card-body {
    display: grid;

    height: 100%;
    align-content: start;
    justify-content: center;
  }

  .card__trivia {
    width: 100%;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      width: 70%;
    }
    @include media-breakpoint-up(lg) {
      width: 60%;
    }
  }

  @include media-breakpoint-up(md) {
    grid-template-rows: 1fr;

    .page__card {
      grid-template-rows: min-content min-content min-content 1fr min-content;
    }
  }

  .option-set--size-regular {
    padding-bottom: 1em;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
  }
}

.basic-question--size-regular {
  .basic-question-card {
    overflow-y: scroll;
    display: block;
    .option-set--size-regular, .card__trivia {
      position: static;
    }
  }
}

.basic-question {

}

.basic-question--size-large {
  .basic-question-card {
    overflow: scroll;
    flex: 1;
    justify-content: flex-start;
    .option-set--size-large {
    }
    .card__trivia {
      padding-top: 0;
    }
  }

  .page__card > .card-body {
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;

    overflow: hidden;
  }
}
