.interactive__wrapper .interaction--type-play {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// example grid layout
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  flex: 1;
  div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      min-height: 1px;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
