.nav-btn {
  display: block;

  font-weight: 600;

  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  min-width: 10em;
}

.btn__text {
  margin-left: map-get($spacers, 2);
  margin-right: map-get($spacers, 2);
}

.btn__icon {
  svg {
    height: 0.65em;
  }
}
