.page--card-loading {
  justify-items: center;
  display: flex;

  @include media-breakpoint-up(md) {
    // grid-template-rows: auto auto;
  }

  .page__card {
    align-content: center;
  }
}

.card-body--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  // margin-top: 100px;

  @include media-breakpoint-up(md) {

    // min-height: 20em;
  }
}

.page--loading {
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  @include media-breakpoint-up(sm) {
    top: calc(50% - 48px);
    left: calc(50% - 48px);
  }
}
