/* stylelint-disable-next-line */
.card--results {
  align-items: center;
  height: 100%;

  .card-body {
    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }

  svg {
    height: 60px;
  }
}

.card__results {
  .results__image {
    max-width: 100%;

    margin-top: -(map-get($spacers, 4));
    margin-bottom: map-get($spacers, 2);
  }
}

.card--answer {
  flex-basis: 100%;
  svg {
    height: 4em;
  }
}

.title--answers {
  font-size: 1.4em;
  background: #FFF;
  color: #000;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 1rem;
}

.card-section {
  &--correct {
    color: $success;
  }

  &--incorrect {
    color: $danger;
  }

}

.guess__text, .answer__text {
  font-size: 1.2em;
}

.card__title--results {
  font-size: 1.2em;
  font-weight: 600;

  margin-top: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 2);
}

.card__subtitle--results {
  font-size: 0.8rem;
}

.fixed-share {
  background-color: $body-bg;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 100;
  button {
    min-width: 10em;
    margin: 0 auto;
  }
}
